{% load static %}
<DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function validateForm() {
             let name = document.forms["contactForm"]["name"].value;
             let email = document.forms["contactForm"]["email"].value;
        
            if (name == ""  || email == ""){
                alert("Name and Email must be filled out!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Contact Us</h1>
    <p> If you have any questions, feel free to reach out:</p>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    <form name="contactForm" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required<br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>